header {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 1.5vw;
    text-decoration-line: none;
}

header span {
    color: #000;
}

hr {
    color: #515151;
}

input {
    height: 2.8vw;
    width: 18vw;
    border-radius: 15px;
}

.input-date {
    margin-top: -3vw;
    margin-left: 14.5vw;
}

.input-date>button {
    margin-left: 0.4vw;
    margin-top: 0.6vw;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
}

.button-img {
    width: 1.5vw;
    height: 1.5vw;
}

#info {
    width: 12.5vw;
    height: 3.2vw;
    border: 1px solid;
    background-color: #fff;
    gap: 1vw;
    margin-left: -3vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#account_cir>img {
    width: 2vw;
    height: 2vw;
}

#account_cir {
    background-color: #D9D9D9;
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    align-content: center;
}

#stu_id {
    text-align: center;
    font-family: Noto Sans KR;
    font-size: 1vw;
    font-weight: 400;
}

.menu {
    padding-top: 1vw;
    width: 9vw;
    height: 2.2vw;
    border: 1px solid #000000;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_img {
    width: 2vw;
}

.menu_text {
    line-height: 3.2vw;
    font-size: 1vw;
}

#me {
    display: flex;
    font-weight: 700;
}

#mypage_icon {
    width: 3vw;
    height: 3vw;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
}

#mypage_img>img {
    width: 2.5vw;
    height: 2.5vw;
    justify-content: center;
    align-content: center;
}

#dateInput {
    padding-left: 1vw;
    padding-bottom: 0.2vw;
    font-size: 1.4vw;
    color: #515151;
    font-family: Noto Sans KR;
}