@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');
*{
    text-decoration: none;
}
html{
    margin: 0;
    padding: 0;
    height: 100%;
}
#rec{
    width: 86vw;
    height: 16vw;
    border-radius: 1vw;
    border: 5px solid #2475D6;
    background-color: #fff;
    margin: auto;
    margin-bottom: 5vw;
    display: flex;
    column-gap: 20vw;
    align-items: center;
    justify-content: center;
}
#blue_box{
    width: 20vw;
    height: 14vw;
    border-radius: 10px;
    color: #7ABFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#date {
    margin-right: -5vw;
}
input {
    height: 2.8vw;
    width: 18vw;
    border-radius: 15px;
}
.input-date {
    margin-top: -3vw;
    margin-left: 14.5vw;
}
.input-date > button {
    margin-left: 0.4vw;
    margin-top: 0.6vw;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
}
.button-img {
    width: 1.5vw;
    height: 1.5vw;
}

aside {
    float: left;
}

.button-container {
    display: grid;
    margin-top: 7.5vw;
    margin-left: 15vw;
}

.button {
    margin-bottom: 1.6vw;
    border: solid 2;
    border-width: 0.2vw;
    border-radius: 8px;
    background-color: white;
    text-align: center;
    line-height: 3.6vw;
    height: 3.6vw;
    width: 14.2vw;
    font-family: "Noto Sans KR", serif;
    font-weight: bold;
    font-size: 1.3vmax;
    text-decoration: none;
    color: black;
    
}

.clicked {
    border: solid;
    border-color: #2475D6;
    border-width: 0.2vw;
}

.non_clicked {
    border: solid;
    border-color: #333333;
    border-width: 0.1vw;
}

main {
    float: left;
}

.school-meals-container {
    display: flex;
    margin-left: 4vw;
    margin-top: 4.5vw;
    margin-bottom: 4vw;
}

.school-meals {
    margin-right: 0.5vw;
    border: solid;
    border-width: 0.2vw;
    border-radius: 8px;
    border-color: gray;
    width: 14.5vw;
    height: 19.5vw;
    position: relative;
    background-color: white;
}

.meals_head {
    margin-top: 1vw;
    text-align: center;
    font-family: Noto Sans KR;
    font-weight: bold;
    font-size: 1.2em;
}

.menuList {
    margin-top: 1vw;
    text-align: center;
}

.menuList > li {
    margin-bottom: 0.5vw;
}

#current_time_text {
    position: absolute; bottom: 1vw;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.8vw;
    color: #333333;
}