@import url('https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu:wght@400..700&family=Noto+Sans+KR:wght@100..900&display=swap');

body {
    background-color: #fdffb6;
}

header {
    display: flex;
}
.js-logo {
    width: 3.8vw;
    height: 3.8vw;
    margin-top: 1vw;
    margin-left: 1.8vw;
}

.now_date {
    border: solid 0;
    font-family: "Noto Sans KR", serif;
    font-size: 1.1vmax;
    font-weight: bold;
    color: white;
    margin-left: 1.5vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
    background-color: black;
    padding-top: 0.7vw;
    width: 11vmax;
    height: 1.9vmax;
    text-align: center;
}

.date-find {
    width: 48vmax;
    margin-left: 8vw;
    border: solid 0;
    background-color: white;
    border-radius: 10px;
    margin-top: 1.7vw;
    margin-bottom: 1.7vw;
    display: flex;
}

.school-img {
    width: 1.6vw;
    margin-top: 0.1vw;
    margin-left: 1.1vw;
    margin-bottom: 0.1vw;
}

.choice-date {
    display: flex;
    align-items: center;
    margin-left: 1vw;
    background-color: transparent;
}

.input-date {
    border: 0;
    background-color: transparent;
    margin-left: auto;
    margin-right: 1vw;
}

.input-date:hover {
    background-color: rgb(249, 249, 249);
}

.input-date:active {
    background-color: rgb(218, 218, 218);
}

.button-img {
    width: 1.5vw;
}

.my-page-button {
    border: solid 0;
    font-family: "Noto Sans KR", serif;
    font-size: 1.1vmax;
    font-weight: bold;
    color: white;
    margin-left: 17.5vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
    background-color: #168916;
    padding-top: 0.7vw;
    width: 6.8vmax;
    height: 1.8vmax;
    text-align: center;
    text-decoration: none;
}

aside {
    float: left;
}

.button-container {
    display: grid;
    margin-top: 8vw;
    margin-left: 15vw;
}

.button {
    margin-bottom: 1.6vw;
    border: solid 2;
    border-width: 0.2vw;
    border-radius: 8px;
    background-color: white;
    text-align: center;
    line-height: 3.6vw;
    height: 3.6vw;
    width: 14.2vw;
    font-family: "Noto Sans KR", serif;
    font-weight: bold;
    font-size: 1.3vmax;
    text-decoration: none;
    color: black;
    
}

.clicked {
    border: solid;
    border-color: #FF03A5;
    border-width: 0.2vw;
}

main {
    float: left;
}

.school-meals-container {
    display: flex;
    margin-left: 4vw;
    margin-top: 4.5vw;
}

.school-meals {
    margin-right: 0.5vw;
    border: solid;
    border-width: 0.3vw;
    border-radius: 8px;
    border-color: gray;
    width: 16.5vw;
    height: 21vw;
    background-color: white;
}